button:focus { outline:0 !important; }

#pesquisaUsuarios{
    margin-bottom:2rem;
    justify-content:space-around;
    margin-top:1rem;
}

#divImagemTime{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    margin-top:1rem;
}

#botaoPesquisaUsuario{
    background: #28ACAC !important;
    border: 1px solid #28ACAC !important;
    height:fit-content;
    margin-top:10px;
}

#adicionaUsuario{
    float: right;
    margin-top: 1rem;
    background: rgb(171, 72, 148);
    border: rgb(171, 72, 148);
}

#botaoVoltaUsuarios{
    background: rgb(240, 130, 41) !important;
    border: 1px solid rgb(240, 130, 41) !important;
    height:fit-content;
    margin-top:10px;
}
.headerResponsive{
    min-width: 600px;
}
#divUsuariosDisponiveisPesquisa{
    border: 1px solid grey;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    display:none;
    margin-bottom: 1rem;
}

#divUsuariosDisponiveis{
    border: 1px solid grey;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

#timesDisponiveis{
    border: 1px solid grey;
    margin-bottom:1rem;
    width:90%;
    border-radius:10px;
}

h5{
	display: inline !important;
}